* {
    margin: 0;
    padding: 0; 
}

body{
    background-color: grey;
}

#header{
    color: white;
    background-color: black;
    height: 15vh;
    line-height: 15vh;
    text-align: center;
}

.removeButton{
    width: 100%;
    background-color: rgb(219, 72, 4);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit], #addPicButton {
    width: 100%;
    background-color: rgb(41, 77, 117);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

#container {
    color: black;
    padding: 30px;
}

#newPicFormContainer{
    height: 0px;
    width: 50vw;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: auto;
    overflow: hidden;
    transition: linear 0.5s;
}

#container h1, #newPicFormContainer h1 {
    text-align: center
}

#photoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 40px;
    background-color: white;
    padding: 20px;
}

h3, p {
    text-align: center;
}

img{
    display: block;
    height: 400px;
    width: 300px;
    border-radius: 10px;
}


